.show-modal {
    width: 15rem;
    height: 2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem auto;
    color: var(--color-Grey-light-1);
    background-color: var(--color-primary-dark);
    &:hover {
        animation: pulsate 1s infinite;
    }
}

.hidden {
    display: none;
}

.modal-container {
    position: relative;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;

    background-color: var(--color-primary-light);
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    form {
        .modal--input {
            background-color: var(--color-Grey-light-1);
        }
    }
    &__close-modal {
        transition: 0.3s;
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        padding-bottom: 0.5rem;
        width: 2rem;
        height: 2rem;
        border: none;
        border-radius: 5px;
        background-color: inherit;
        &:hover {
            transform-origin: center;
            transform: rotate(45deg);
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-blur: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9;
}
