<%- include("./partials/_header.ejs") -%>

<div class="row-wrap">
    <h1 class="hometitle">Mes TODOS listes -</h1>
    <p class="date"><%= date %></p>
</div>

<a href="/todo">mon espoce listes</a>

<%- include("./partials/_footer.ejs") -%>
